     # Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env/

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
